In [3]:
df = pd.DataFrame({
    'men': [80.2, 80.8, 57.5, 98, 50.5, 73.8, 77.4, 59.7, 77.9, 52.6],
    'women': [57.9, 57.3, 72.8, 48.2, 59.5, 48.3, 61.2, 53.9, 53.9, 70.7]
})

In [ ]:
ЗАДАНИЕ 1.4.1
#Какие меры оценивают центральные (или типичные) наблюдения? Выберите все верные варианты.
Среднее арифметическое
Мода
Медиана

In [ ]:
ЗАДАНИЕ 1.4.2
#Какая мера необходима для нахождения самого часто встречающегося значения?
Мода

In [ ]:
#Для каких из перечисленных случаев медиана подходит как мера центральной тенденции?
Необходимо разделить числовой ряд пополам

In [10]:
#Среднее арифметическое пяти чисел равно 8.2 . Четыре из этих чисел — 6,10,7,12. Найдите пятое число.
def mean(numbers):
    return float(sum(numbers)) / max(len(numbers), 1)
mean([6,10,7,12,6])

8.2

In [ ]:
#Задание 1.4.3
*Мода на 1 больше меньше  средней оценки.
*Этот набор данных является генеральной совокупностью

In [4]:
#Задание 1.5
import pandas as pd

df = pd.DataFrame({
    'men': [80.2, 80.8, 57.5, 98, 50.5, 73.8, 77.4, 59.7, 77.9, 52.6],
    'women': [57.9, 57.3, 72.8, 48.2, 59.5, 48.3, 61.2, 53.9, 53.9, 70.7]
})

In [5]:
df['men'].mean()

70.84

In [6]:
df.mean()

men      70.84
women    58.37
dtype: float64

In [ ]:
#Задание 1.5.2
Медиана в первом наборе данных равна 4.5
Это на 3.5 меньше медианы на втором наборе данных

In [8]:
#Задание 1.5.3
df.median()

men      75.6
women    57.6
dtype: float64

In [ ]:
# 25% мужчин весят большеб чем 75,6 кг

In [ ]:
#1.8.1
answer=[стандартное отклонение]

In [18]:
#Задание 1.9.1
import pandas as pd
df = pd.DataFrame({
    'men': [80.2, 80.8, 57.5, 98, 50.5, 73.8, 77.4, 59.7, 77.9, 52.6],
    'women': [57.9, 57.3, 72.8, 48.2, 59.5, 48.3, 61.2, 53.9, 53.9, 70.7]})
df

    men  women
0  80.2   57.9
1  80.8   57.3
2  57.5   72.8
3  98.0   48.2
4  50.5   59.5
5  73.8   48.3
6  77.4   61.2
7  59.7   53.9
8  77.9   53.9
9  52.6   70.7

In [12]:
df.min()

men      50.5
women    48.2
dtype: float64

In [13]:
df.max()

men      98.0
women    72.8
dtype: float64